@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search Page";
    ViewBag.Head = "Central City Search the Forums";
}

<section>
@using (Html.BeginForm())
{ 
    <div class="form-group">
        @Html.Label("Enter a Word From a Message", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("searchTerm")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
</section>

