html 
{
    position: relative;
}
body 
{
    margin: 0 0 50px; /* bottom = footer height */
}

html, body
{
    width: 100vw ;
   height: 100vh ;
   min-width: 100vw ;
   min-height: 100vh ;
}
header 
{
    background-color: #EA1E28;
    color: #F0FC07;
    text-align:center;
    padding:5px;
    width: 100vw;
}

nav 
{
    line-height:30px;
    background-color:#FC1E07;
    height:100vh;
    width:100px;
    float:left;
    padding:5px; 
}
section 
{
    width:80%;
    float:left;
    padding:10px; 
}
footer 
{
    background-color:#EA1E28;
    color:#F0FC07;
    clear:both;
    text-align:center;
    padding:5px; 
    height: 50px;
    width: 100vw;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
}

textarea {
    resize: none;
}